.wrapper {
    width: 100%;
    height: 1000px;
}

.navigation {
    width: 100%;
    height: 70px;
    background-color: #013220;
}

.css_logo {
    width: 50px;
    height: 50px;
    margin-bottom: 18px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

.header {
    width: 100%;
    height: 400px;
}

.header_image {
    width: 100%;
    height: 400px;
}

.text_header {
    position: absolute;
    right: 1px;
    top: 204px;
    background-color: rgba(242, 240, 240, 0.4);
    color: #FFFFFF;
    opacity: 0.9;
    margin-right: 100px;
    padding-top: 10px;
    padding-right: 282px;
    text-align-last: center;
    font-size: 32px;
}

.text_htwo {
    position: absolute;
    right: 1px;
    top: 288px;
    background-color: rgba(242, 240, 240, 0.4);
    color: #FFFFFF;
    opacity: 0.9;
    margin-right: 100px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 130px;
    text-align: center;
}

.content {
    width: 100%;
    height: 500px;
    background-color: #0A6522;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: #013220;   
}

.nav {
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}

.nav a {
    text-decoration: none;
    color: #494696;
    padding: 5px;
    background-color: #F9D200;
    border-radius: 30%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    font-family: 'Jomhuria';
    font-size: 16px;
    font-style: bold;
}

.nav_text {
    float: left;
    color: #FFFFFF;
    background-color: #00539C;
    width: 35%;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
}

.footer_logo {
    width: 50px;
    height: 50px;
    margin-bottom: 18px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

.umak_logo {
    width: 50px;
    height: 50px;
    margin-bottom: 18px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}

.comsoc_logo {
    width: 50px;
    height: 50px;
    margin-bottom: 18px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}


